<app-navbar></app-navbar>
<!-- réalisé par sebastien chisiu -->
<div class="w-full h-10 bg-black flex items-center pl-4 gap-1">
  <a routerLink="/accueil"
    class="relative text-gray-200 font-semibold hover:text-white border-b-2 border-transparent hover:border-white transition-colors duration-300">Accueil</a>
  <span class="text-white italic"> &gt; Plan du site</span>
</div>

<section class="h-[540px]">
  <h1 class="text-2xl pt-10 font-semibold text-center">Plan du site</h1>

  <div class="flex justify-center py-10">
    <ul class="flex flex-col items-start list-disc pl-6">
      <li><a routerLink="/accueil" class="hover:text-gray-500 cursor-pointer text-2xl">Accueil</a></li>
      <li><a routerLink="/compte" class="hover:text-gray-500 cursor-pointer text-2xl">Compte</a></li>
      <li><a routerLink="/menus" class="hover:text-gray-500 cursor-pointer text-2xl">Menus</a></li>
      <li><a routerLink="/contact" class="hover:text-gray-500 cursor-pointer text-2xl">Contact</a></li>
      <li><a routerLink="/stats" class="hover:text-gray-500 cursor-pointer text-2xl">Statistiques</a></li>
      <li><a routerLink="/panier" class="hover:text-gray-500 cursor-pointer text-2xl">Panier</a></li>
      <li><a routerLink="/mentions-legales" class="hover:text-gray-500 cursor-pointer text-2xl">Mentions Légales</a>
      </li>
      <li><a routerLink="/utilisation-cookie" class="hover:text-gray-500 cursor-pointer text-2xl">Utilisation des
          cookies</a></li>
      <li><a routerLink="/points-retraits" class="hover:text-gray-500 cursor-pointer text-2xl">Nos Points de retrait</a>
      </li>
    </ul>
  </div>
</section>

<div class="fixed bottom-0 left-0 w-full">
  <app-footer></app-footer>
</div>