<!-- réalisé par sebastien chisiu -->

<h1 class="text-3xl font-semibold text-center mb-6">Plan du site</h1>

<div class="flex justify-center">
  <ul class="flex flex-col items-start border-l-4 border-gray-300 pl-6">
    <li><a routerLink="/accueil" class="font-medium hover:font-bold cursor-pointer">Accueil</a></li>
    <li><a routerLink="/compte" class="hover:font-bold cursor-pointer">Compte</a></li>
    <li><a routerLink="/menus" class="hover:font-bold cursor-pointer">Menus</a></li>
    <li><a routerLink="/contact" class="hover:font-bold cursor-pointer">Contact</a></li>
    <li><a routerLink="/stats" class="hover:font-bold cursor-pointer">Statistiques</a></li>
    <li><a routerLink="/panier" class="hover:font-bold cursor-pointer">Panier</a></li>
    <li><a routerLink="/mentionslegales" class="hover:font-bold cursor-pointer">Mentions Légales</a></li>
    <li><a routerLink="/mentionslegales" fragment="RGPD" class="hover:font-bold cursor-pointer">RGPD</a></li> <!-- fragment sert à allez vers l'ancre de la page mentionslegales / ['/mentionslegales']-->
    <li><a routerLink="/utilisationcookie" class="hover:font-bold cursor-pointer">Utilisation des cookies</a></li>
  </ul>
</div>