<app-navbar></app-navbar>
<!-- Sebastian Chisiu -->
<div class="w-full h-10 mt-14 sm:mt-0 bg-black flex items-center pl-4 gap-1">
  <a routerLink="/accueil"
    class="relative text-gray-200 font-semibold hover:text-white border-b-2 border-transparent hover:border-white transition-colors duration-300">Accueil</a>
  <span class="text-white italic mb-1"> &gt; Notre carte</span>
</div>
<div class="w-[90%] h-[300px] border-3 border-black mx-auto mt-5 overflow-hidden relative">
  <div id="carousel-slider" class="h-full w-full flex transition-transform duration-700 ease-in-out"
    [style.transform]="'translateX(-' + (activeCarrouselIndex * 100) + '%)'">
    <div *ngFor="let slide of carrousel" class="min-w-full h-full bg-white">
      <!-- ngFor = pour chaque slide de la liste carrousel -->
      <a [routerLink]="slide.link" class="block w-full h-full"> <!-- Chaque slide a un lien -->
        <img [src]="slide.image" alt="carousel image" class="w-full h-full object-cover"
          [style.object-position]="slide.position || 'center'" />
      </a>
    </div>
  </div>
  <!-- Dots navigation -->
  <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex gap-2">
    <button *ngFor="let slide of carrousel; let i = index" class="w-2.5 h-2.5 rounded-full"
      [ngClass]="{'bg-white': i === activeCarrouselIndex, 'bg-gray-300': i !== activeCarrouselIndex}"
      (click)="setCarrouselIndex(i)">
    </button>
  </div>
</div>

<div class="w-[90%] mx-auto mt-5">
  <div class="flex items-center justify-between px-2">
    <span class="font-semibold uppercase text-[16px] tracking-wider relative z-10">BOXES</span>
    <!--tracking wider = espacement entre les lettres -->
    <div class="relative">
      <button (click)="toggleMenuFiltres()" class="cursor-pointer flex items-center text-[16px] gap-2">
        Filtres
        <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-[20px]" fill="none" viewBox="0 0 24 24"
          stroke="currentcolor">
          <circle cx="12" cy="12" r="10" stroke-width="2" />
          <path stroke-width="2" d="M6 9h12M7 12h10M8 15h8" stroke-linecap="round" />
          <!-- M = Move to 6(x) 9(y) h12(ligne horizontale de 12px) etc-->
        </svg>
      </button>

      <!-- Menu déroulant des filtres -->
      <div *ngIf="afficherFiltres"
        class="absolute right-0 top-10 w-64 bg-white shadow-xl rounded-xl border border-gray-100 z-50 p-4">
        <!-- Tri par prix -->
        <h4 class="font-bold text-sm mb-3">Prix</h4>
        <div class="space-y-2 mb-4">
          <div class="flex items-center gap-2">
            <input type="checkbox" id="tri-croissant" (change)="gererTri('croissant')"
              [checked]="triSelectionne === 'croissant'" class="border-gray-300 text-black rounded-full">
            <!-- check box ronde -->
            <label for="tri-croissant" class="text-sm cursor-pointer select-none">Prix croissant</label>
          </div>
          <div class="flex items-center gap-2">
            <input type="checkbox" id="tri-decroissant" (change)="gererTri('decroissant')"
              [checked]="triSelectionne === 'decroissant'" class="border-gray-300 text-black rounded-full">
            <label for="tri-decroissant" class="text-sm cursor-pointer select-none">Prix décroissant</label>
          </div>
        </div>
        <hr class="mx-2 pb-3">
        <h4 class="font-bold text-sm mb-3">Ingrédients</h4>
        <div class="max-h-60 overflow-y-auto space-y-2">
          <div *ngFor="let filtre of filtresDisponibles" class="flex items-center gap-2">
            <input type="checkbox" [id]="filtre" (change)="gererFiltre(filtre)"
              [checked]="filtresSelectionnes.includes(filtre)" class="border-gray-300 text-black">
            <label [for]="filtre" class="text-sm cursor-pointer select-none">{{filtre}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative mt-px">
    <!-- si la div parent a un position autre que static (par défaut) (donc relative , absolute, sticky etc) l'élément enfant avec absolute prendra comme bord gauche-top-droit-bottom les bords de la div parent et pas de la page entiere-->
    <div class="border-b border-black w-full absolute left-0 top-1/2 transform -translate-y-1/2"></div>
    <div class="absolute right-2 top-0 h-full bg-white w-[65px]"></div>
  </div>
</div>

<div class="w-[90%] mx-auto mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10 mb-10">
  <div *ngFor="let box of listeFiltree" (click)="ouvrirModal(box)"
    class="bg-[#F8F8F8] p-4 rounded-2xl shadow-sm hover:shadow-md transition-all duration-300 relative group border border-transparent hover:border-gray-200 cursor-pointer">

    <!-- Image -->
    <div
      class="w-full aspect-square flex items-center justify-center mb-4 transition-transform duration-300 group-hover:scale-105">
      <img [src]="box.image" [alt]="box.nom" class="w-full h-full object-contain drop-shadow-lg" />
    </div>

    <!-- Données de la box -->
    <div class="flex flex-col">
      <h3 class="font-bold text-lg text-black mb-1 line-clamp-1">{{box.nom}}</h3>
      <p class="text-gray-500 text-sm mb-4 line-clamp-2 Caladea">{{box.description}}</p>
      <div class="text-right">
        <span class="font-bold text-xl text-black">{{box.prix}}€</span>
      </div>
    </div>
  </div>
</div>


<!-- MODAL / OVERLAY PRODUIT -->
<div id="modal" *ngIf="boxSelectionnee" class="fixed inset-0 bg-black/50 z-50 flex items-center justify-center p-4">
  <div class="bg-white rounded-xl max-w-2xl max-h-[88vh] overflow-y-auto relative p-4 w-full text-sm">
    <!-- Bouton Fermer overlay-->
    <button (click)="fermerModal()"
      class="absolute top-4 right-4 text-black hover:bg-gray-100 p-2 rounded-full cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>

    <div class="flex flex-col gap-4">
      <!-- Image du produit -->
      <div class="w-full flex justify-center">
        <div class="border-2 border-black rounded-lg overflow-hidden inline-block">
          <img [src]="boxSelectionnee.image" [alt]="boxSelectionnee.nom" class="h-[200px] w-auto object-cover">
        </div>
      </div>

      <!-- Informations du produit -->
      <div class="flex flex-col gap-3">
        <!-- Titre + En stock -->
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-bold">{{boxSelectionnee.nom}}</h3>
          <span class="text-xs py-1 font-medium text-green-700">
            En stock
          </span>
        </div>

        <!-- Prix + Quantité -->
        <div class="flex items-center justify-between">
          <span class="text-lg font-bold">{{ boxSelectionnee.prix }} €</span>
          <div class="flex items-center gap-2">
            <label for="quantité" class="text-xs font-semibold">Quantité :</label>
            <input type="number" id="quantité" name="quantité" min="1" max="10" [(ngModel)]="quantiteSelectionnee"
              class="w-12 text-center bg-gray-100 border border-gray-300 rounded text-sm py-1">
          </div>
        </div>

        <!-- Description -->
        <div>
          <h4 class="font-bold text-md mb-1">Description</h4>
          <p class="text-md text-justify text-gray-500">
            {{ boxSelectionnee.description }}
          </p>
        </div>

        <!-- Prix Total + les services -->
        <div class="flex items-center justify-between bg-gray-50 p-3 rounded-lg mt-1">
          <div>
            <span class="text-xs text-gray-500">Total</span>
            <div class="text-xl font-bold text-black">{{ getPrixTotal() }}€</div>
          </div>

          <div class="flex gap-3">
            <!-- Paiement Sécurisé -->
            <div class="flex flex-col items-center w-14">
              <div
                class="w-8 h-8 flex items-center justify-center bg-white rounded-full border border-gray-200 shadow-sm text-black">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
              </div>
              <span class="text-[9px] mt-1 text-gray-600 text-center leading-tight">Paiement Sécurisé</span>
            </div>
            <!-- Livraison rapide -->
            <div class="flex flex-col items-center w-14">
              <div
                class="w-8 h-8 flex items-center justify-center bg-white rounded-full border border-gray-200 shadow-sm text-black">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                </svg>
              </div>
              <span class="text-[9px] mt-1 text-gray-600 text-center leading-tight">Livraison Rapide</span>
            </div>
            <!-- Réductions Étudiants -->
            <div class="flex flex-col items-center w-14">
              <div
                class="w-8 h-8 flex items-center justify-center bg-white rounded-full border border-gray-200 shadow-sm text-black">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                </svg>
              </div>
              <span class="text-[9px] mt-1 text-gray-600 text-center leading-tight">Réduction Étudiant</span>
            </div>
          </div>
        </div>

        <!-- Bouton Panier -->
        <button *ngIf="authService.isLoggedIn$ | async; else loginMessage"
          class="w-full bg-black text-white font-bold py-3 rounded-xl hover:bg-gray-800 cursor-pointer transition shadow-lg mt-2 flex justify-between px-6 items-center group"
          (click)="ajouterAuPanier()">
          <span>Ajouter au panier</span>
          <span class="bg-white/20 px-2 py-1 rounded text-sm group-hover:bg-white/30 transition">{{ getPrixTotal()
            }}€</span>
        </button>

        <ng-template #loginMessage>
          <div
            class="bg-red-100 text-red-500 px-4 py-5 rounded relative max-w-[650px] w-full text-center mb-4 font-medium">
            Veuillez vous connecter pour commander.</div>
          <button
            class="w-full bg-black text-white font-bold py-3 rounded-xl hover:bg-gray-800 cursor-pointer transition shadow-lg mt-2 flex justify-center justify-between px-6 items-center group"
            (click)="ajouterAuPanier()">Se connecter / S'inscrire</button>
        </ng-template>

        <!-- Logos Paiement -->
        <div class="flex items-center justify-center gap-4 mt-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="Visa"
            class="h-4 w-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="Mastercard"
            class="h-5 w-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" class="h-4 w-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Apple_Pay_logo.svg" alt="ApplePay"
            class="h-4 w-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Google_Pay_Logo.svg" alt="GooglePay"
            class="h-4 w-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg" alt="Amex"
            class="h-4 w-auto">
        </div>

      </div>

      <!-- Section Description & Allergènes -->
      <div class="flex flex-col gap-3 mt-2 pt-3 border-t border-gray-100">

        <!-- Liste des saveurs -->
        <div class="grid grid-cols-2 gap-4">
          <div>
            <span class="text-xs font-bold text-gray-500 uppercase tracking-wide">Saveurs</span>
            <ul class="list-disc pl-4 mt-1 text-sm text-gray-700">
              <li *ngFor="let saveur of boxSelectionnee.saveursListe">{{ saveur }}</li>
            </ul>
          </div>
          <div>
            <span class="text-xs font-bold text-gray-500 uppercase tracking-wide">Aliments</span>
            <ul class="list-disc pl-4 mt-1 text-sm text-gray-700">
              <li *ngFor="let aliments of boxSelectionnee.alimentsListe">{{ aliments }}</li>
            </ul>
          </div>
        </div>

        <!-- Allergènes -->
        <div>
          <h4 class="font-bold text-sm mb-1">Allergènes</h4>
          <div class="flex flex-wrap gap-2">
            <span *ngFor="let allergene of boxSelectionnee.allergenesListe"
              class="text-[10px] bg-gray-100 text-gray-600 px-2 py-1 rounded border border-gray-200 uppercase font-semibold tracking-wide">
              {{ allergene }}
            </span>
          </div>
        </div>

        <div>
          <h4 class="font-bold text-sm mb-1">Pièces</h4>
          <div class="flex flex-wrap gap-2">
            <span
              class="text-[10px] bg-gray-100 text-gray-600 px-2 py-1 rounded border border-gray-200 uppercase font-semibold tracking-wide">
              {{ boxSelectionnee.pieces }}
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>