@import "tailwindcss";

@font-face {
    font-family: 'Jost';
    src:
        url('/fonts/Jost-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Jost {
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Caladea';
    src:
        url('/fonts/Caladea-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* texte */
.Caladea {
    font-family: 'Caladea', sans-serif;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Julee';
    src:
        url('/font/Julee-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* titre landing */
.Julee {
    font-family: 'Julee', sans-serif;
    font-weight: 200;
    font-style: normal;
}

p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: normal;
}