@import "tailwindcss";

@font-face {
    font-family: 'Caladea';
    src:
        url('/fonts/Caladea-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* texte */
.Caladea {
    font-family: 'Caladea', sans-serif;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Julee';
    src:
        url('/font/Julee-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* titre landing */
.Julee {
    font-family: 'Julee', sans-serif;
    font-weight: 200;
    font-style: normal;
}