#herostat {
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/assets/herostats.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
