<!-- réalisé par témi 24/11 -->

<header class="fixed top-0 left-0 w-full bg-white z-50 text-lg">
    <nav class="h-15 flex justify-between px-8 py-3">
        <div class="flex">
            <a href="">
                <img src="images/icons/logo_full.png" alt="Sush'n Go" class="w-auto h-10">
            </a>
        </div>
        
        <div class="flex items-center gap-15">
            <a class="flex items-center h-full gap-3" href="">
                Notre carte
                <img src="images/icons/dropdown.png" alt="Dropdown" class="h-1/4">
            </a>
            <a href="">Nos points de retraits</a>
            <a href="">À propos</a>
            <a href="">Nous contacter</a>
        </div>

        <div class="flex gap-6">
            <a class="flex items-center h-full" href="">
                <img src="images/icons/panier.png" alt="Panier" class="h-full">
            </a>

            <a class="flex items-center h-full gap-3" href="">
                <img src="images/icons/compte.png" alt="Compte" class="h-full">
                Compte
            </a>
        </div>

    </nav>
</header>