<app-navbar></app-navbar>

<!-- front : maxime derènes -->

<div class="w-full h-10 mt-14 sm:mt-0 bg-black flex items-center pl-4 gap-1">
    <a routerLink="/accueil"
        class="relative text-gray-200 font-semibold hover:text-white border-b-2 border-transparent hover:border-white transition-colors duration-300">Accueil</a>
    <span class="text-white italic mb-1"> &gt; Compte</span>
</div>


<!-- Affichage statistiques fidélité -->
<section id="fidelite" class="flex flex-col items-center justify-center w-full py-10 text-center">
    <svg class="mt-6 w-[1200px] h-[200px] relative bg-[#879358]">
        <svg>
            <circle cx="155" cy="100" r="80" fill="#2E3F2D" stroke="white" stroke-width="4" />
            <!-- pour le moment on fill avec cette couleur: #2E3F2D mais il faut que quand on atteint le step tu fill avec cette couleur : #FFEA47 -->
            <text x="155" y="85" font-size="40" text-anchor="middle" dominant-baseline="central" fill="white">25</text>
            <text x="155" y="125" font-size="25" text-anchor="middle" dominant-baseline="central"
                fill="white">-5%</text>

            <circle cx="455" cy="100" r="80" fill="#2E3F2D" stroke="white" stroke-width="4" />
            <text x="455" y="85" font-size="40" text-anchor="middle" dominant-baseline="central" fill="white">50</text>
            <text x="455" y="125" font-size="25" text-anchor="middle" dominant-baseline="central"
                fill="white">-10%</text>

            <circle cx="755" cy="100" r="80" fill="#2E3F2D" stroke="white" stroke-width="4" />
            <text x="755" y="85" font-size="40" text-anchor="middle" dominant-baseline="central" fill="white">75</text>
            <text x="755" y="125" font-size="25" text-anchor="middle" dominant-baseline="central"
                fill="white">-15%</text>

            <circle cx="1055" cy="100" r="80" fill="#2E3F2D" stroke="white" stroke-width="4" />
            <text x="1055" y="85" font-size="40" text-anchor="middle" dominant-baseline="central"
                fill="white">100</text>
            <text x="1055" y="125" font-size="25" text-anchor="middle" dominant-baseline="central"
                fill="white">-20%</text>
        </svg>
    </svg>
</section>



<section class="flex flex-col items-center justify-center w-full">

    <div class="flex flex-col items-center w-full ">
        <div class="max-w-[1200px] w-full flex items-center gap-2 mt-6">
            <span class="font-bold text-lg">10</span> <!-- remplacer par une valeur dynamique -->
            <progress class="w-full border-2 border-black" id="fideliteprogress" value="10" max="100"></progress>
        </div>
    </div>
    <div class=" max-w-[1200px] w-full text-left">
        <!-- temi, ici faudra remplacer value par la progression de la fidelite  -->
        <h1 class="text-[1.5rem] font-bold mt-2">Fidélité</h1>
        <p class="text-[1.5rem]">Atteignez chaque palier pour gagner une réduction</p>
    </div>


    <!-- Paramètres du compte -->
    <section class="my-10 bg-gray-100 w-[90%] rounded-lg shadow-lg p-8">
        <!-- il faudrait que tout les inputs ne soient pas accessibles puis quand on appuie sur modifier sa le devient, et afficher bien sûr dynamiquement les données du compte connecté -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <h1 class="col-span-full text-xl font-bold underline">Informations personnelles :</h1>

            <div class="flex flex-col">
                <label for="nom" class="font-semibold">Nom</label>
                <input type="text" id="nom" name="nom" class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="flex flex-col">
                <label for="prenom" class="font-semibold">Prénom</label>
                <input type="text" id="prenom" name="prenom" class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="flex flex-col">
                <label for="email" class="font-semibold">Email</label>
                <input type="email" id="email" name="email" class="p-2 rounded border border-gray-400 bg-white ">
            </div>

            <div class="flex flex-col md:col-span-2">
                <label for="adresse" class="font-semibold">Adresse</label>
                <input type="text" id="adresse" name="adresse" class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="flex flex-col">
                <label for="telephone" class="font-semibold">Téléphone</label>
                <input type="text" id="telephone" name="telephone" class="p-2 rounded border border-gray-400 bg-white ">
            </div>

            <h1 class="col-span-full text-xl font-bold mt-4 underline">Changer de mot de passe :</h1>
            <div class="flex flex-col">
                <label for="mdpactuel" class="font-semibold">Mot de passe actuel</label>
                <input type="password" id="mdpactuel" name="mdpactuel"
                    class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="flex flex-col">
                <label for="mdpnouveau" class="font-semibold">Nouveau mot de passe</label>
                <input type="password" id="mdpnouveau" name="mdpnouveau"
                    class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="flex flex-col">
                <label for="mdpnouveau" class="font-semibold">Confirmer le nouveau mot de passe</label>
                <input type="password" id="mdpnouveau" name="mdpnouveau"
                    class="p-2 rounded border border-gray-400 bg-white ">
            </div>
            <div class="col-span-full flex justify-between items-center mt-6">
                <a routerLink="/mot-de-passe-oublie" class="text-sm text-blue-600 hover:underline">Mot de passe oublié
                    ?</a>
                <div class="flex gap-2">
                    <button
                        class="bg-black-600 text-black hover:text-white cursor-pointer px-4 py-2 rounded hover:bg-blue-700 transition-colors border border-gray-400 bg-white">Modifier</button>
                    <button
                        class="bg-black-600 text-black hover:text-white cursor-pointer px-4 py-2 rounded hover:bg-green-700 transition-colors border border-gray-400 bg-white">Enregistrer</button>
                </div>
            </div>
            <!-- ici il faudrait faire en sorte de faire apparaître que le bouton modifier qui rendrait tout les input accessibles puis faire apparaître le bouton enregistrer -->
        </div>
    </section>

    <!-- Historique des commandes, on fetch l'id utilisateur sur les commandes -->
    <section class="my-10 bg-gray-200 w-[90%] rounded-lg shadow-lg min-h-[400px]">
        <!-- a remplir avec l'historique des commandes, il faut qu'il soit simple, c'est a dire, ID commande, total prix, le contenu de la commande sous un format liste si tu veux -->
    </section>



    <app-footer></app-footer>