<!-- Sebastien Chisiu -->

<div class="flex h-screen">
    <div class="w-2/3">
        <div class="w-full h-10 bg-black flex items-center pl-4 gap-1">
            <a routerLink="/accueil" class="relative text-gray-200 font-semibold hover:text-white border-b-2 border-transparent hover:border-white transition-colors duration-300">Accueil</a>
            <span class="text-white font-style: italic"> > Contact</span>
        </div>
    </div>
    <div class="w-1/3 bg-red-200"><img src="images/Image_pagecontact.png"></div>
</div>