<!-- réalisé par Maxime Derènes -->
 <!-- routes par sebastien et maxime -->
<!-- partie hr ligne -->
 

<footer class="bottom-0 left-0 w-full bg-white z-50">
<div class="flex items-center mx-3">
    <hr class="flex-1 border-t border-gray-300">
    <span class="mx-4">
        <img src="images/favicon/web-app-manifest-192x192.png" alt="Logo" class="h-8">
    </span>
    <hr class="flex-1 border-t border-gray-300">
</div>

<!-- Partie milieu avec grid -->

<div class="grid grid-cols-4 grid-rows-3 gap-4 mx-5">
    <div class="row-span-3">
        <ul class="list-none gap-2">
            <li>
                <h2 class="text-black/60 text-xl">Pages</h2>
            </li>
            <li><a routerLink="/points-retraits" class="cursor-pointer text-xl hover:text-black/70">Nos points de retraits</a></li>
            <li><a routerLink="/menu" class="cursor-pointer text-xl hover:text-black/70">Notre carte</a></li>
            <li><a routerLink="/stats" class="cursor-pointer text-xl hover:text-black/70">Statistiques</a></li>
            <li><a routerLink="/contact" class="cursor-pointer text-xl hover:text-black/70">Nous contacter</a></li>
            <li><a routerLink="/compte" class="cursor-pointer text-xl hover:text-black/70 border-black">Mon Compte</a></li>
            <li><a routerLink="/inscription-connexion" class="cursor-pointer text-xl hover:text-black/70">Se déconnecter</a></li>
        </ul>
    </div>
    <div class="row-span-3">
        <ul class="list-none">
            <li>
                <h2 class="text-black/60 text-xl">Nos réseaux</h2>
            </li>
            <li class="flex flex-row gap-2 mt-2 cursor-pointer">
                <a><img src="images/icons/facebook.webp" class="w-11 h-11" alt="Facebook"></a>
                <a><img src="images/icons/instagram.webp" class="w-11 h-11" alt="Instagram"></a>
            </li>
        </ul>
    </div>
    <div class="col-span-2 row-span-3">
        <div class="w-full h-[300px]">
            <h2 class="text-black/60 text-xl">Notre restaurant</h2>
            <iframe 
                src="https://www.google.com/maps?q=17+Rue+Jablinot,+77100+Meaux&output=embed" 
                width="100%"
                height="200" 
                style="border:0; border-radius:0.75rem;" 
                allowfullscreen="" 
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>
    </div>
</div>

<!-- Partie "droit" -->
<div>
    <h2 class="text-black/60 text-center">Copyright © 2025 Sush’n Go, Tous droits réservés.</h2>
    <div class="flex flex-row gap-5 justify-center text-center">
        <a routerLink="/mentions-legales" class="cursor-pointer hover:text-black/70"><h2>Mentions légales</h2></a>
        <a routerLink="/plan-site"><h2 class="cursor-pointer border-x border-black px-3 hover:text-black/70">Plan du site</h2></a>
        <a routerLink="/utilisation-cookie" class="cursor-pointer hover:text-black/70"><h2>Utilisation de cookies</h2></a>
    </div>
</div>
</footer>
