<!-- réalisé par Joachim Tocqueville -->
<div id="connexionbg">
    <div id="fondform">
        <form id="formconnex">
            <div class="flex items-center mx-28">
                <hr class="flex-1 border-t border-gray-400">
                <span class="mx-4">
                    <img src="images/favicon/web-app-manifest-192x192.png" alt="Logo" class="h-8">
                </span>
                <hr class="flex-1 border-t border-gray-400">
            </div>
            <div class="border-black border mb-4 mt-4 p-2 text-center">

            </div>
            <h2>Connexion</h2>
            <input type="text" placeholder="Adresse e-mail" required>
            <input type="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</div>