<app-navbar></app-navbar>

<!-- front réalisé par Joachim Tocqueville, fix par maxime derènes -->
<section id="connexionbg" class="pt-10">
    <div id="fondform">

        <!-- Formulaires -->
        <!-- Onglets -->
        <div class="flex justify-center my-8">
            <div id="tab-section-btn" class="Caladea flex rounded-[40px] p-3 gap-2 bg-white">
                <button id="tab-btn-inscription" (click)="switchToTab('inscription')" type="button"
                    class="transition-all duration-200 cursor-pointer rounded-[40px] w-28 py-3 px-2 mr-1 bg-[#F64F4F] text-white font-semibold">Inscription</button>
                <button id="tab-btn-connexion" (click)="switchToTab('connexion')" type="button"
                    class="transition-all duration-200 cursor-pointer rounded-[40px] w-28 py-3 px-2 bg-white text-black font-semibold">Connexion</button>
            </div>
        </div>

        <div id="forms-container" class="flex flex-col items-stretch gap-8 justify-center">
            <!-- FORMULAIRE INSCRIPTION -->
            <form action="../../../../../../backend/api/users/fonctions/add_user.php" method="post"
                id="tab-formulaire-inscription" autocomplete="on" novalidate
                class="bg-white py-8 px-4 rounded-3xl shadow-lg max-w-[650px] w-full mx-auto">
                <!-- pas d'autoroute svp -->
                <h2 class="text-lg font-bold text-center mb-5 text-[#F64F4F] border-b border-black p-3"
                    style="max-width: 400px; margin-left: auto; margin-right: auto;">
                    Créer un compte
                </h2>
                <div class="grid grid-cols-2 gap-4 max-w-full">
                    <div>
                        <label for="nom-inscription">Nom <span class="text-[#F64F4F]">*</span></label>
                        <input id="nom-inscription" name="nom" type="text" autocomplete="family-name" placeholder="Nom"
                            required minlength="2" maxlength="50"
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div>
                        <label for="prenom-inscription">Prénom <span class="text-[#F64F4F]">*</span></label>
                        <input id="prenom-inscription" name="prenom" type="text" autocomplete="given-name"
                            placeholder="Prénom" required minlength="2" maxlength="50"
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div>
                        <label for="email-inscription">Email <span class="text-[#F64F4F]">*</span></label>
                        <input id="email-inscription" name="email" type="email" autocomplete="email"
                            placeholder="exemple@email.com" required
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div>
                        <label for="telephone-inscription">Téléphone <span class="text-[#F64F4F]">*</span></label>
                        <!-- L'attribut pattern permet de spécifier une expression régulière que la valeur saisie doit respecter, ici pour forcer un format de numéro de téléphone -->
                        <input id="telephone-inscription" name="telephone" type="tel" placeholder="..." required
                            autocomplete="tel" pattern="^(\+?\d{1,3}[-.\s]?)?\d{10}$"
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                        <small class="text-gray-500 text-xs pl-1">Format: 01 02 03 04 05</small>
                    </div>
                    <div class="col-span-2">
                        <label for="adresse-inscription">Adresse <span class="text-[#F64F4F]">*</span></label>
                        <input id="adresse-inscription" name="adresse" type="text" autocomplete="street-address"
                            placeholder="Adresse" required class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div class="col-span-2 flex items-center gap-2">
                        <input id="etudiant-inscription" name="etudiant" type="checkbox"
                            class="accent-[#F64F4F] rounded-lg p-1" />
                        <label for="etudiant-inscription" class="cursor-pointer">Êtes-vous étudiant&nbsp;?</label>
                    </div>
                    <div>
                        <label for="motdepasse-inscription">Mot de passe <span class="text-[#F64F4F]">*</span></label>
                        <input id="motdepasse-inscription" name="motdepasse" type="password" autocomplete="new-password"
                            placeholder="Créez un mot de passe" required minlength="8"
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                        <small class="text-gray-500 text-xs pl-1">8 caractères minimum</small>
                    </div>
                    <div>
                        <label for="confirmMotDePasse-inscription">Confirmer le mot de passe <span
                                class="text-[#F64F4F]">*</span></label>
                        <input id="confirmMotDePasse-inscription" name="confirmMotDePasse" type="password"
                            autocomplete="new-password" placeholder="..." required
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                        <div id="mdp-confirm-error" class="text-[#F64F4F] text-[0.85rem] pt-1 mdp-confirm-invisible">
                            Les mots de passe ne correspondent pas.
                        </div>
                    </div>
                    <div class="col-span-2 flex items-center gap-2 mt-1"> <!-- rajouter une condition qui fait que si c'est pas coché, on peut pas s'inscrire -->   
                        <input id="cgu-inscription" name="cgu" type="checkbox" required
                            class="accent-[#F64F4F] rounded-lg p-1" />
                        <label for="cgu-inscription" class="cursor-pointer">
                            J'ai lu et j'accepte les&nbsp;
                            <a href="/mentions-legales" target="_blank" class="text-[#2a6ef7] underline">conditions générales
                                d'utilisation</a>
                            <span class="text-[#F64F4F]">*</span>
                        </label>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-6 gap-2">
                    <button id="submit-inscription" type="submit"
                        class="cursor-pointer rounded-xl py-2 w-40 bg-[#F64F4F] hover:bg-[#f97474] duration-300 transform-all text-white font-semibold">
                        S'inscrire
                    </button>
                    <span class="text-xs text-gray-400">* Champs obligatoires</span>
                </div>
            </form>

            <!-- FORMULAIRE CONNEXION -->
            <form action="../../../../../../backend/api/users/fonctions/add_user.php" method="post"
                id="tab-formulaire-connexion" autocomplete="on" novalidate
                class="bg-white py-8 px-4 rounded-3xl shadow-lg max-w-[400px] w-full mx-auto form-connexion-invisible">
                <!-- pas d'autoroute svp -->
                <h2 class="text-lg font-bold text-center mb-5 text-[#F64F4F] border-b border-black p-3"
                    style="max-width: 400px; margin-left: auto; margin-right: auto;">
                    Connectez vous
                </h2>
                <div class="flex flex-col gap-4">
                    <div>
                        <label for="email-connexion">Email <span class="text-[#F64F4F]">*</span></label>
                        <input id="email-connexion" name="email" type="email" autocomplete="email"
                            placeholder="Votre email" required
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div>
                        <label for="motdepasse-connexion">Mot de passe <span class="text-[#F64F4F]">*</span></label>
                        <input id="motdepasse-connexion" name="motdepasse" type="password"
                            autocomplete="current-password" placeholder="Votre mot de passe" required
                            class="border border-[#ccc] rounded-xl py-2 px-2 w-full" />
                    </div>
                    <div class="flex justify-center">
                        <a routerLink="/mot-de-passe-oublie" class="text-[#2a6ef7] text-[0.95em] underline">Mot de passe
                            oublié&nbsp;?</a>
                    </div>
                </div>
                <div class="flex justify-center mt-6">
                    <button id="submit-connexion" type="submit"
                        class="rounded-xl py-2 w-40 bg-[#F64F4F] hover:bg-[#f97474] duration-300 transform-all cursor-pointer text-white font-semibold">
                        Connexion
                    </button>
                </div>
            </form>

        </div>

    </div>
</section>
<app-footer></app-footer>