<app-navbar></app-navbar>

<!-- front réalisé par Joachim Tocqueville, debug maxime d-->
<section class="container-fluid pt-1 h-192" id="mdpoubliebg">
    <section id="fondform" class="h-192 rounded-2xl">

        <form id="tab-formulaire-mdpoublie" class="bg-white rounded-2xl inline">

            <section class="grid grid-rows-4 gap-5 bg-white max-w-[400px] mx-auto py-8 px-4 rounded-3xl shadow-lg">
                <h1 class="text-center text-2xl font-extralight text-black">Réinitialiser le mot de passe</h1>
                <div>
                    <label class="block font-extralight" for="email">Email</label>
                    <input class="border rounded-2xl p-2 black w-full font-extralight" id="email" name="email"
                        type="email" placeholder="Email" required>
                </div>

                <div>
                    <label class="block font-extralight" for="newmotdepasse">Nouveau mot de passe</label>
                    <input class="border rounded-2xl p-2 black w-full font-extralight" id="newMotdepasse"
                        name="newMotdepasse" type="password" placeholder="Nouveau mot de passe" required>
                </div>

                <div>
                    <label class="block font-extralight" for="confirmNewMotdepasse">Confirmer le mot de passe</label>
                    <input class="border rounded-2xl p-2 black w-full font-extralight" id="confirmNewMotdepasse"
                        name="confirmNewMotdepasse" type="password" placeholder="Confirmer le mot de passe" required>
                </div>

                <div class="flex justify-center mt-5 py-4">
                    <button id="submit-mdpoublie" type="submit"
                        class="rounded-[1.1rem] p-2 bg-[#F64F4F] hover:bg-[#f97474] duration-300 transform-all text-white w-50 border-black text-center cursor-pointer">Réinitialiser</button>
                </div>
            </section>
            <!-- front joachim fin -->
        </form>
    </section>
</section>
<app-footer></app-footer>