<!-- réalisé par témi 24/11, modifier par Joachim -->

<header class="hidden md:block sticky top-0 left-0 w-full bg-white z-50 text-lg">
    <nav class="h-15 flex justify-between px-8 py-3">
        <div class="grid grid-cols-5 grid-rows-1 gap-0 w-full items-center">

            <div>
                <a routerLink="/accueil">
                    <img src="images/icons/logo_full.png" alt="Sush'n Go" class="w-auto h-10">
                </a>
            </div>

            <div class="col-span-3 flex items-center justify-center gap-10">
                <a routerLink="/menu" class="transition-opacity duration-100 hover:opacity-60">Notre carte</a>
                <a routerLink="/points-retraits" class="transition-opacity duration-100 hover:opacity-60">Nos points de retraits</a>
                <a routerLink="/stats" class="transition-opacity duration-100 hover:opacity-60">Statistiques</a>
                <a routerLink="/contact" class="transition-opacity duration-100 hover:opacity-60">Nous contacter</a>
            </div>

            <div class="col-start-5 flex gap-6 justify-end">
                <a class="flex items-center h-full" routerLink="/panier">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-auto h-10">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g clip-path="url(#clip0_15_35)">
                                <rect width="24" height="24" fill="white"></rect>
                                <path
                                    d="M5.33331 6H19.8672C20.4687 6 20.9341 6.52718 20.8595 7.12403L20.1095 13.124C20.0469 13.6245 19.6215 14 19.1172 14H16.5555H9.44442H7.99998"
                                    stroke="#000000" stroke-linejoin="round"></path>
                                <path
                                    d="M2 4H4.23362C4.68578 4 5.08169 4.30341 5.19924 4.74003L8.30076 16.26C8.41831 16.6966 8.81422 17 9.26638 17H19"
                                    stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                                <circle cx="10" cy="20" r="1" stroke="#000000" stroke-linejoin="round"></circle>
                                <circle cx="17.5" cy="20" r="1" stroke="#000000" stroke-linejoin="round"></circle>
                            </g>
                            <defs>
                                <clipPath id="clip0_15_35">
                                    <rect width="24" height="24" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </g>
                    </svg>
                </a>
                @if (isLoggedIn) {
                    <a class="flex items-center h-full gap-3" routerLink="/compte">
                        <svg viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-auto h-10">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <defs>
                                    <style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style>
                                </defs>
                                <circle class="cls-1" cx="12" cy="7.25" r="5.73"></circle>
                                <path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path>
                            </g>
                        </svg>
                        Compte
                    </a>
                } @else {
                    <a class="flex items-center h-full gap-3" routerLink="/inscription-connexion">
                        <svg viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-auto h-10">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <defs>
                                    <style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style>
                                </defs>
                                <circle class="cls-1" cx="12" cy="7.25" r="5.73"></circle>
                                <path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path>
                            </g>
                        </svg>
                        Compte
                    </a>
                }
            </div>
        </div>
    </nav>
</header>

<header class="fixed top-0 left-0 w-full bg-white z-50 text-lg md:hidden shadow">
    <nav class="flex items-center justify-between px-4 py-2">
        <!-- Logo -->
        <a routerLink="/accueil">
            <img src="images/icons/logo_full.png" alt="Sush'n Go" class="h-10 w-auto">
        </a>
        <!-- Burger-->
        <button (click)="toggleMenu()" class="block focus:outline-none cursor-pointer transition-opacity duration-100 hover:opacity-60">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </nav>
    <div (click)="closeMenu()" [class.opacity-0]="!isMenuOpen" [class.opacity-100]="isMenuOpen" [class.pointer-events-none]="!isMenuOpen"
    class="fixed inset-0 bg-black/50 z-40 transition-opacity duration-300 ease-in-out"></div>
    
    <div [class.translate-x-full]="!isMenuOpen"
        [class.translate-x-0]="!isMenuOpen"
        class="fixed top-0 right-0 h-full w-3/4 max-w-xs bg-white shadow-lg z-50 transition-transform transform duration-300 ease-in-out">
        
        <div class="flex flex-col h-full pt-8 px-6 gap-6">
            <button (click)="closeMenu()" class="self-end mb-4 cursor-pointer transition-opacity duration-100 hover:opacity-60">
                <svg class="w-8 h-8 text-gray-800" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <a routerLink="/accueil" (click)="closeMenu()" class="py-3 px-2 text-lg font-semibold border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Accueil</a>
            <a routerLink="/menu" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Notre carte</a>
            <a routerLink="/points-retraits" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Nos points de retraits</a>
            <a routerLink="/stats" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Statistiques</a>
            <a routerLink="/contact" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Nous contacter</a>
            <a routerLink="/panier" (click)="closeMenu()" class="py-3 px-2 flex items-center border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">
                <img src="images/icons/panier.png" alt="Panier" class="w-7 h-7 mr-2"> Panier
            </a>
            @if (isLoggedIn) {
                <a routerLink="/compte" (click)="closeMenu()" class="py-3 px-2 flex items-center transition-opacity duration-100 hover:opacity-60">
                    <svg viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-7 h-7 mr-2">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style>
                            </defs>
                            <circle class="cls-1" cx="12" cy="7.25" r="5.73"></circle>
                            <path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path>
                        </g>
                    </svg>
                    Compte
                </a>
            } @else {
                <a routerLink="/inscription-connexion" (click)="closeMenu()" class="py-3 px-2 flex items-center transition-opacity duration-100 hover:opacity-60">
                    <svg viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-7 h-7 mr-2">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style>
                            </defs>
                            <circle class="cls-1" cx="12" cy="7.25" r="5.73"></circle>
                            <path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path>
                        </g>
                    </svg>
                    Compte
                </a>
            }
        </div>
    </div>
</header>
