<!-- réalisé par témi 24/11 -->

<header class="hidden md:block fixed top-0 left-0 w-full bg-white z-50 text-lg">
    <nav class="h-15 flex justify-between px-8 py-3">
        <div class="grid grid-cols-5 grid-rows-1 gap-0 w-full items-center">

            <div>
                <a routerLink="/accueil">
                    <img src="images/icons/logo_full.png" alt="Sush'n Go" class="w-auto h-10">
                </a>
            </div>

            <div class="col-span-3 flex items-center justify-center gap-10">
                <a routerLink="/menu" class="transition-opacity duration-100 hover:opacity-60">Notre carte</a>
                <a routerLink="/points-retraits" class="transition-opacity duration-100 hover:opacity-60">Nos points de retraits</a>
                <a routerLink="/stats" class="transition-opacity duration-100 hover:opacity-60">Statistiques</a>
                <a routerLink="/contact" class="transition-opacity duration-100 hover:opacity-60">Nous contacter</a>
            </div>

            <div class="col-start-5 flex gap-6 justify-end">
                <a class="flex items-center h-full transition-opacity duration-100 hover:opacity-60" routerLink="/panier">
                    <img src="images/icons/panier.png" alt="Panier" class="w-auto h-10">
                </a>
                <a class="flex items-center h-full gap-3 transition-opacity duration-100 hover:opacity-60" routerLink="/compte">
                    <img src="images/icons/compte.png" alt="Compte" class="w-auto h-10">
                    Compte
                </a>
            </div>
        </div>
    </nav>
</header>

<header class="fixed top-0 left-0 w-full bg-white z-50 text-lg md:hidden shadow">
    <nav class="flex items-center justify-between px-4 py-2">
        <!-- Logo -->
        <a routerLink="/accueil">
            <img src="images/icons/logo_full.png" alt="Sush'n Go" class="h-10 w-auto">
        </a>
        <!-- Burger-->
        <button (click)="toggleMenu()" class="block focus:outline-none cursor-pointer transition-opacity duration-100 hover:opacity-60">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </nav>
    <div (click)="closeMenu()" [class.opacity-0]="!isMenuOpen" [class.opacity-100]="isMenuOpen" [class.pointer-events-none]="!isMenuOpen"
    class="fixed inset-0 bg-black/50 z-40 transition-opacity duration-300 ease-in-out"></div>
    
    <div [class.translate-x-full]="!isMenuOpen"
        [class.translate-x-0]="!isMenuOpen"
        class="fixed top-0 right-0 h-full w-3/4 max-w-xs bg-white shadow-lg z-50 transition-transform transform duration-300 ease-in-out">
        
        <div class="flex flex-col h-full pt-8 px-6 gap-6">
            <button (click)="closeMenu()" class="self-end mb-4 cursor-pointer transition-opacity duration-100 hover:opacity-60">
                <svg class="w-8 h-8 text-gray-800" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <a routerLink="/accueil" (click)="closeMenu()" class="py-3 px-2 text-lg font-semibold border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Accueil</a>
            <a routerLink="/menu" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Notre carte</a>
            <a routerLink="/points-retraits" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Nos points de retraits</a>
            <a routerLink="/stats" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Statistiques</a>
            <a routerLink="/contact" (click)="closeMenu()" class="py-3 px-2 text-lg border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">Nous contacter</a>
            <a routerLink="/panier" (click)="closeMenu()" class="py-3 px-2 flex items-center border-b border-gray-100 transition-opacity duration-100 hover:opacity-60">
                <img src="images/icons/panier.png" alt="Panier" class="w-7 h-7 mr-2"> Panier
            </a>
            <a routerLink="/compte" (click)="closeMenu()" class="py-3 px-2 flex items-center transition-opacity duration-100 hover:opacity-60">
                <img src="images/icons/compte.png" alt="Compte" class="w-7 h-7 mr-2"> Compte
            </a>
        </div>
    </div>
</header>